@{
    ViewBag.Title = "Home Page";
    if (Session["userID"] == null)
    {
        // Can be used to check if player is admin.
        Response.Redirect("~/Login/Login");
    }
}

<!-- 
    Planen er, at der i fremtiden skal vises en del fra dette view. 
    Tag evt. et hurtigt kig på Mockup.
-->

<p> Forside fra index.cshtml </p>
<h2>
    @if(Session["userID"] != null){
        @Session["userName"].ToString()
    }
</h2>
<a href="@Url.Action("LogOut","Login")">  Log out! </a>
