@using Bordfodbold_System.Controllers
@using Bordfodbold_System.Entities
@{
    ViewBag.Title = "Home Page";
    if (Session["userID"] == null)
    {
        // If the user isn't logged in, throw him/her out!
        Response.Redirect("~/Login/Login");
    }
}

<!-- Table left side of page, used to show previous games -->
<div id="playerTable">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="scope">Status</th>
                <th scope="col" class="scope">ID</th>
                <th scope="col" class="scope">Mål</th>
                <th scope="col" class="scope">M-ID</th>
                <th scope="col" class="scope">Spiller 1</th>
                <th scope="col" class="scope">Spiller 2</th>
                <th scope="col" class="scope">Dato</th>
            </tr>
        </thead>
        <tbody>
        <tr class="tr_won">
            <td id="td_won">WON</td>
            <td>1</td>
            <td>2</td>
            <td>10</td>
            <td>Hans Kristian</td>
            <td>Jonas Lemming</td>
            <td>10-12-2018</td>
        </tr>
        <tr class="tr_lost">
            <td id="td_lost">LOST</td>
            <td>2</td>
            <td>1</td>
            <td>7</td>
            <td>Mathilde Arak</td>
            <td>Hans Plovbjerg</td>
            <td>10-12-2018</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="createNew">
    @if (Session["userID"] != null)
    {
        // userID must first be set!
        // if the userID is equal to 1, then the user is Admin!
        if (int.Parse(Session["userID"].ToString()) == 1)
        {
            // Get the "New User" partial view!
            //<partial name="~/Views/Home/NewUser.cshtml" />
            <a href="@Url.Action("NewUser","Home")"><button type="button" id="AdminButton" class="btn btn-primary">NEW USER</button></a>
            <a href="@Url.Action("EditUser","Home")"><button type="button" id="AdminButton" class="btn btn-primary">EDIT USER</button></a>
        }
        else
        {
            // The user is NOT admin, get the New Game view!
            //<partial name="~/Views/Home/NewGame.cshtml" />
            <a href="@Url.Action("NewGame","Home")"><button type="button" class="btn btn-success" style="background-color: #a7b303;">NEW GAME</button></a>
        }
    }
</div>

<!-- Table bottom right for searching a specific player's info-->
<div class="searchTabel">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new {@class = "Index"}))
    {
    <tr>
        <th>
            @Html.TextBox("search_player_information")
        </th>
        <th>
            <button type="submit" class="btn btn-primary" id="search_player_information_button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </th>
    </tr>

    }
    
    <div id="playerInfoTable">
        <table class="table">
            <tbody>
                <tr>
                    <td class="player_info">Placering</td>
                    <td class="player_info_colon">:</td>
                    <td class="player_value"></td>
                </tr>
                <tr>
                    <td class="player_info">Vundet</td>
                    <td class="player_info_colon">:</td>
                    <td class="player_value"></td>
                </tr>
                <tr>
                    <td class="player_info">Tabt</td>
                    <td class="player_info_colon">:</td>
                    <td class="player_value"></td>
                </tr>
                <tr>
                    <td class="player_info">Sejrs ratio</td>
                    <td class="player_info_colon">:</td>
                    <td class="player_value"></td>
                </tr>
                <tr>
                    <td class="player_info">Mål</td>
                    <td class="player_info_colon">:</td>
                    <td class="player_value"></td>
                </tr>
                <tr>
                    <td class="player_info">Kampe</td>

                    <td class="player_info_colon">:</td>
                    <td class="player_value"></td>
                </tr>
                <tr>
                    <td class="player_info">Mål / kamp</td>
                    <td class="player_info_colon">:</td>
                    <td class="player_value"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



