
@{
    ViewBag.Title = "About";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewUser</title>
</head>
<body>
    <div>
        <h1> NEW GAME PAGE, WOHOO!!!! </h1>
    </div>
</body>
</html>
