@{
    ViewBag.Title = "About";
    // If the user isn't logged in, throw him/her out!
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
    // If the user is logged in, but the user isn't Admin, redirect them back to index!
    else if (int.Parse(Session["userID"].ToString()) == 1)
    {
        Response.Redirect("~/Home/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../../fonts/style.css">
    <title>NewUser</title>
</head>
<body>
    <div>
        <h1> NEW GAME PAGE, WOHOO!!!! </h1>
    </div>
</body>
</html>
