@model Bordfodbold_System.Entities.PlayerEnt
@{
    // If user isn't logged in, redirect the 'user' back to the login page.
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
    // If the user is logged in, but the user isn't admin, redirect them back to index!
    else if (int.Parse(Session["userID"].ToString()) != 1)
    {
        Response.Redirect("~/Home/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../../fonts/style.css">
    <title>NewUser</title>
</head>
<body>
<div>
    @using (Html.BeginForm()) {
        <div>
            @foreach (var property in ViewData.ModelMetadata.Properties) {
                if (property.PropertyName != "id") {
                    <div>
                        <label>
                            @property.PropertyName
                        </label>

                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control"})
                    </div>
                }
            }
        </div>
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Cancel and return", "Index", null, new { @class = "btn btn-default"})
    }
</div>
</body>
</html>
